<p>scholarship-form-upload works!</p>
<div class="scholarship-form">
    <div class="heading">
        <b>SCHOLARSHIP APPLICATION FORM</b>
    </div>
    <div class="hor-line"></div>
    <form>
        <div class="application-form">
            <!-- Contact Details -->
            <div class="side-heading"><b>Contact Details</b></div>
            <div class="basic-details">
                <!-- State & District & Block/Taluk -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">State</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter State Name">
                    </div>

                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">District</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter District Name">
                    </div>

                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">Block/Taluk</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Taluk Name">
                    </div>
                </div>

                <!-- House Number & Street Number & Pincode -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">House Number</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter House Number">
                    </div>
                
                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">Street Number</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Street Number">
                    </div>
                
                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">Pincode</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Pincode">
                    </div>
                </div>
            </div>

            <div class=" scheme-applying">
                <div class="form-group mb-3 row">
                <label for="aadharNumber" class="col-sm-3 col-form-label col-form-label-sm"><b>Choose Scheme Applying For:</b></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Scheme Number">
                </div>
                </div>
            </div>
            <div class="upload-section">
                <div class="section-heading"><b>Documents Upload Section:</b></div>
                <div class="file-uploads">
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Domicile Certificate:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Student Photograph:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Institute ID Card:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Cast/Income Certificate:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Previous Year MarkSheet:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Fee Receipt of Current Page:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Bank PassBook(Front Page):</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">Aadhar Card:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">10th Class MarkSheet:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label for="aadharNumber" class="file-text col-sm-3 col-form-label-sm">12th Class MarkSheet:</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" id="termsConditions" formControlName="agree">
                <label class="view-field"><b>All the details furnished by me are true tot the best of my knowledge. If any mistakes are found then I may be disqualified for Scholarship Scheme Announced by Government of India OR My State Governement.</b></label>
            </div>

            <div class="further-text">
                Further process is carried out by institute, State Nodal Officer and Ministry.
            </div>

            <div class="hor-line"></div>
        </div>
        <div class="button-row">
            <!-- <button type="submit" [disabled] = "!registerForm.valid">REGISTER</button> -->
            <button type="submit" routerLink="/register-sucsess" target="_blank">Submit</button>
            <button type="reset" >Reset</button>
        </div>

        
    </form>
</div>


