<p>scholarship-form works!</p>
<div class="scholarship-form">
    <div class="heading">
        <b>SCHOLARSHIP APPLICATION FORM</b>
    </div>
    <div class="hor-line"></div>
    <form>
        <div class="application-form">
            <!-- Basic Information -->
            <div class="side-heading"><b>Basic Information:</b></div>
            <div class="basic-details">
                <!-- Aadhar & Religion -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Aadhar Number</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Aadhar Number" required>
                    </div>

                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Religion</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>

                <!-- community -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Community/Catagory</label>
                    <div class="col-sm-3">
                       <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Community/Catagory"> -->

                        

                    </div>
                </div>

                <!-- F & M names -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Father Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Father Name">
                    </div>
                
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Mother Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Mother Name">
                    </div>
                </div>

                <!-- Annual Income -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Family Annual Income</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Family Annual Income">
                    </div>
                </div>
            </div>

            <!-- Academic details -->
            <div class="side-heading"><b>Academic Details:</b></div>
            <div class="basic-details">
                <!-- institute & class -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Institute Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Institute Name">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Present Class/Course</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Present Class/Course">
                    </div>
                </div>
            
                <!-- year & Study -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Present Class/Course Year</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Year">
                    </div>
                
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Mode of Stydy</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
            
                <!-- Date & M name -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Class Start Date</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Start Date">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">University/Board Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>

                <!-- Pre class/course & Passing Year & class % -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Previous class/course</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Previous class/course">
                    </div>
                
                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">Previous Passing Year</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Previous Passing Year">
                    </div>
                
                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">Previous Class %</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Class %">
                    </div>
                </div>
            </div>

            <!-- 10th Class -->
            <div class="side-heading"><b>10th Class</b></div>
            <div class="basic-details">
                <!-- Roll No & Board Name -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Roll Number</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Roll Number">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Board Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Board Name">
                    </div>
                </div>
            
                <!-- Passing Year & % Obtained -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Passing Year</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Passing Year">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">% Obtained</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Percentage">
                    </div>
                </div>
            </div>

            <!-- 12th Class -->
            <div class="side-heading"><b>12th Class</b></div>
            <div class="basic-details">
                <!-- Roll Number & Board Name -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Roll Number</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Roll number">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Board Name</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Board Name">
                    </div>
                </div>
            
                <!-- Passing Year & % OBtained -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Passing Year</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Passing Year">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">% Obtained</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Percentage">
                    </div>
                </div>
            </div>

            <!-- Fee Details -->
            <div class="side-heading"><b>Fee Details</b></div>
            <div class="basic-details">
                <!-- Admission Fee & Tuition Fee & Other Fee -->
                <div class="form-group mb-3 row">
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Admission Fee</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Admission Fee">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">Tuition Fee</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Tuition Fee">
                    </div>

                    <label for="aadharNumber" class="col-sm-1 col-form-label col-form-label-sm">Other Fee</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Other Fee">
                    </div>
                </div>
            </div>

            <!-- Other Personal Details -->
            <div class="side-heading"><b>Other Personal Details</b></div>
            <div class="basic-details">
                <!-- Disabled & Type of Disabled -->
                <div class="form-group mb-3 row">
                    <label for=" isDisabled" class="col-sm-2 col-form-label col-form-label-sm"> Is Disabled</label>

                    <div class="col-sm-3">
                        <select class="form-select" aria-label="Default select example" formControlName="domicile">
                            <option value="">select</option>
                            <option value="one">YES</option>
                            <option value="two">NO</option>
                        </select>
                    </div>
                    <!-- <div class="col-sm-3"> -->
                        <!-- <input type="text" class="form-control form-control-sm" id="colFormLabelSm" -->
                            <!-- > -->
                    <!-- </div> -->
            
                    <label for="typeofDisabled" class="col-sm-2 col-form-label col-form-label-sm">Type of Disabled</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
            
                <!-- % Disablity & Marital Status -->
                <div class="form-group mb-3 row">
                    <label for="percentDisablity" class="col-sm-2 col-form-label col-form-label-sm">% of Disablity</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Percentage Disablity">
                    </div>
            
                    <label for="aadharNumber" class="col-sm-2 col-form-label col-form-label-sm">Marital Status</label>
                    <div class="col-sm-3">

                        <div class="col-sm-5">
                            <select class="form-select" aria-label="Default select example" formControlName="domicile">
                                <option value="">select</option>
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                                <option value="unmarried">UnMarried</option>
                                
                            </select>
                        </div>
                        <!-- <input type="text" class="form-control form-control-sm" id="colFormLabelSm">  -->
                    </div>
                </div>

                <!-- Parents Profession -->
                <div class="form-group mb-3 row">
                    <label for="parentsProfession" class="col-sm-2 col-form-label col-form-label-sm">Parents Profession</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Enter Parents Profession">
                    </div>
                </div>
            </div>

            <div class="hor-line"></div>
        </div>
        <div class="button-row">
            <a routerLink="/scholarship-form-upload" target="_blank">Next</a>
        </div>
    </form>
</div>