<p>student-home works!</p>
<div class="student-home">
    <div class="logo-portal">
        <div class="logo-in">
            <img src="pic_trulli.jpg" alt="Logo">
        </div>
        <div class="heading">NATIONAL SCHOLARSHIP PORTAL</div>
    </div>
    
    
    <div class="navigation">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>
        </ul>
    </div>
    
    <div class="student-details">
            <div class="row">
                <div class="col my-profile">
                    My Profile
                </div>
                <div class="col schemes"> 
                    Schemes
                    <p>• Post Matric Scholarship </p>

                    <p>• National Merit Scholarship</p>

                    <p>• Central Scholarship Scheme</p>
                </div>
                <div class="col guidlines">
                    Guidlines
                </div>
            </div>
    </div>
    <div class="description">
        <div class="scheme">Scheme Description</div>
        <div class="button-row">
            <button type="submit" routerLink="/scholarship-form" target="_blank">Apply</button>
        </div>
    </div>
</div>


